html, body {
    scroll-behavior: smooth;
}

html {
    /*height: 100%;*/
}

body {
    /*overflow: hidden;*/
    /*height: 100%;*/
    margin: 0;
    background: rgb(31, 3, 34);
    background: linear-gradient(45deg, rgba(31, 3, 34, 1) 40%, rgba(42, 157, 143, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h3 {
    font-family: 'Helvetica';
    text-decoration: underline;
    font-weight: bolder;
    color: #264653;
}

h4 {
    text-decoration: underline;
    font-weight: bolder;
    color: #264653;
}

h5 {
    font-weight: bold;
    color: #264653;
}

b {

}

footer div{
    text-align: left;
    padding: 10px;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    /*font-size: 90%;*/
    text-align: center;
    /*color: #6C757D;*/
}

.bg-light {
    background: #DCE1DE;
}

.btn-primary {
    border-color: #2A9D8F;
    background-color: #2A9D8F;
}

.btn-primary:hover {
    border-color: #264653;
    background-color: #264653;
}

.btn-primary:focus {
    border-color: #264653;
    background-color: #264653;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mb-6 {
    margin-bottom: 6rem !important;
}

.links-1 {
    color: #7773C1;
}

.links-2 {
    color: #5396BD;
}

.links-3 {
    text-decoration: underline;
    color: #F53505;
}

.details {
    color: #5396BD;
    cursor: pointer;
}

.details:hover, .details:active {
    color: #0C0A57;
    text-decoration: underline;
}

.listDisc {
    list-style-type:disc;
}

.listSquare {
    list-style-type:square;
}

.modalimg {
    width: 400px;
    height: 200px;
}

.visualimg {
    width: 400px;
    height: 200px;
}

.modalvideo {
    width: 350px;
    height: 200px;
}

.introvideo {
    width: 320px;
    height: 170px;
}

.author {
    font-size: 13px;
    color: #707070;
    text-align: left;
}

.langicon {
    height: 24px;
    width: 36px;
}

@media only screen and (min-width: 990px){
    .modalimg {
        width: 580px;
        height: 320px;
    }

    .modalvideo {
        width: 550px;
        height: 320px;
    }

    .introvideo {
        width: 470px;
        height: 250px;
    }
}

@media only screen and (max-width: 400px){
    .modalimg {
        width: 320px;
        height: 150px;
    }

    .visualimg {
        width: 320px;
        height: 150px;
    }
}